.container {display: flex;
  flex-direction: column;
  justify-content: space-between;
height: 600px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: blue;
  font-weight: bold;
  color: white;
  font-size: 42px;
}
